<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="owlcarousel/dist/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="owlcarousel/dist/assets/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<title>Состав команды</title>
</head>
<meta charset="utf-8">
<body>
	<header>
		<div class="img"><a href="arsenal.html"><img src="images/q.PNG"></a>Футбольный клуб FC Arsenal</div>
			<div class="container">
				<a href="news.html" class="logo">Новости</a>
				<a href="comond.html" class="logo">Команда</a>
				<a href="history.html" class="logo">История</a>
				<a href="table.html" class="logo">Турнирная таблица</a>
				<a href="calendar.html" class="logo">Календар</a>
				<a href="" class="language1">Руский</a>
				<a href="" class="language2">English</a>
			</div>
	</header>
<div class="new-informacion">
	<div class="content-player">
		<div class="logo-comand">Голкиперы</div>
		<div class="player">
			<div class="nomber">13</div>
			<img src="images/ospina.JPG">
			<div class="info-player">Петр Чех</div>
		</div>
	</div>	
	<div class="content-player">
		<div class="logo-comand">Защитники</div>
		<div class="player">
			<div class="nomber">13</div>
			<img src="images/koscielny.JPG">
			<div class="info-player">koscielny</div>
		</div>
	</div>

	<div class="content-player">
		<div class="logo-comand">Полузащитники</div>
		<div class="player">
			<div class="nomber">13</div>
			<img src="images/ospina.JPG">
			<div class="info-player">Петр Чех</div>
		</div>

		<div class="player">
			<div class="nomber">13</div>
			<img src="images/ospina.JPG">
			<div class="info-player">Петр Чех</div>
		</div>

		<div class="player">
			<div class="nomber">13</div>
			<img src="images/ospina.JPG">
			<div class="info-player">Петр Чех</div>
		</div>
		<div class="player">
			<div class="nomber">13</div>
			<img src="images/ospina.JPG">
			<div class="info-player">Петр Чех</div>
		</div>
		<div class="player">
			<div class="nomber">13</div>
			<img src="images/ospina.JPG">
			<div class="info-player">Петр Чех</div>
		</div>
	</div>
	<div class="content-player">
		<div class="logo-comand">Нападающие</div>
		<div class="player">
			<div class="nomber">13</div>
			<img src="images/ospina.JPG">
			<div class="info-player">Петр Чех</div>
		</div>
		<div class="player">
			<div class="nomber">13</div>
			<img src="images/ospina.JPG">
			<div class="info-player">Петр Чех</div>
		</div>
	</div>							
</div>
	<footer>
		<div class="sponsors">
			<div class="sponsor1">
			</div> 
			<div class="sponsor2">
			</div> 
			<div class="sponsor3">
			</div> 
		</div>
		<div class="copyright-text">
			<p>© Футбольный клуб «Арсенал» , 1998–2018. Все права защищены.</p>
		</div>
		
	</footer>
	<script src="script/jquery.min.js"></script>
	<script src="owlcarousel/dist/owl.carousel.min.js"></script>
	<script src="script/main.js"></script>

		

</body>
</html>