<footer>
    <div class="sponsors">
    <a href="/"><img src="images/пушка.PNG"></a>
        <div class="sponsor1">

        </div> 
        <div class="sponsor2">
        </div> 
        <div class="sponsor3">
        </div> 
    </div>
    <div class="copyright-text">
        <p>© Футбольный клуб «Арсенал» , 1998–2018.Данный сайт не являеться комерческим проектом. Сайт являеться ознакомительной информацией, и не нисет ни какой ответствености.</p>
    </div>
</footer>