<header>
    <div class="img"><a href="/"><img src="images/q.PNG"></a>Футбольный клуб FC Arsenal</div>
        <div class="container">
            <a href="/news" class="logo">Новости</a>
            <a href="/comond" class="logo">Команда</a>
            <a href="/history" class="logo">История</a>
            <a href="/table" class="logo">Турнирная таблица</a>
            <a href="/calendar" class="logo">Календар</a>
            <a href="" class="language1">Руский</a>
            <a href="" class="language2">English</a>
        </div>
</header>