<!DOCTYPE html>
<html>
<head>
	<title>История становления</title>
	<%-include('link')%>
</head>
<meta charset="utf-8">
<body>
	<%-include('header')%>
<div class="new-informacion">
	<div class="history-item">
		<p>Становление футбольного клуба Арсенал</p>
		<div class="history-content">
<p >Футбольный клуб «Арсенал» основан в 1886 году группой рабочих завода по производству оружия в Вулидж. Первоначальным названием «Арсенала» был «Dial Square», затем коллектив назывался «Royal Arsenal». Профессиональный статус команда получила в 1891 году. Тогда же она в третий раз сменила название на «Woolwich Arsenal». Лишь в начале XX века приставка «Woolwich» отпала от названия клуба.</p>

<p>В 1893 году коллектив был заявлен во второй английский дивизион, а спустя 11 сумел подняться в первый дивизион. Правда, успешными для клуба те годы не были. Более того, в 1913 году команда вновь оказалась во втором дивизионе. Окончательно «Арсенал» вернулся в элиту английского футбола в 1919 году и больше никогда не покидал ее. А вот в 1925 году в клуб пришел Херберт Чэпмен, с именем которого связана «золотая» эпоха в истории «канониров».</p>

<p>За восемь лет «Арсенал» пять раз становился чемпионом Англии, дважды выигрывал Кубок Страны. Правда, не ко всем трофеям Чэпмен имеет прямое отношение, поскольку он умер 1934 году. Однако команду выстроил именно он, став новатором и внедрив прогрессивную тогда схему 2-3-5 («W-M»). </p>

<p>После золотых тридцатых следующий успех пришел к «канонирам» только в 1971 году, когда «Арсенал» выиграл чемпионат и Кубок Англии. Тот успех был связан с именем еще одного знакового наставника в истории клуба Джорджа Грэма. Экс-игрок «Арсенала» за девять лет выиграл с коллективом шесть трофеев: два Кубка Лиги, Кубок Англии, два первенства Англии и Кубок Кубков.</p>

<p>В 1993 году «Арсенал» выиграл Кубок Англии и Кубок Лиги. А уже в следующем году «канониры» завоевали Кубок обладателей Кубков, который стал вторым евротрофеем в истории клуба. Очередной славный виток в истории «Арсенала связан с именем французского специалиста Арсена Венгера. Он возглавил «канониров» в 1996 году, а уже в следующем сезоне досрочно выиграл чемпионат Англии.</p>

<p>В той команде Венгера блистали Тьери Анги, Денис Беркамп, Фредди Юнберг, Патрик Виейра. С ними «Арсенал» дошел до финала Кубка УЕФА в 2000 году. Коллектив выигрывал чемпионат Англии в 2002 и 2004 годах, причем, последний раз лондонцы не проиграли за сезон ни одного матча. В 1998, 2002, 2003 годах команда Венгера выигрывала кубок Англии.</p> 

<p>Французский специалист привил «Арсеналу» атакующий футбол, который нравится болельщикам. Несмотря на то, что у клуба нет трофеев в последние годы, он является прибыльным предприятием. Домашние матчи «канониры « сейчас проводят на современном стадионе «Эмирейтс», построенном в 2006 году.</p>

		</div>
	</div>
</div>
<%-include('footer')%>
</body>
</html>