<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <%-include('link')%>
</head>
<body>
    <div class="login">
        <form>
        	<input type="text" name="" placeholder="Login" id="login">
        	<input type="password" name="" placeholder="Password" id="password">
        	<div class="btn login">Отправить</div>
        </form>
    </div>
</body>
</html>