<!DOCTYPE html>
<html>
<head>
	<title>Архив новостей</title>
	<%-include('link')%>
</head>
<meta charset="utf-8">
<body>
	<%-include('header')%>
<div class="new-informacion">
	<div class="news-item">
		<img src="images/e.jpg">
		<p>Rак всегда невероятная победа</p>
		<!-- <div class="preview">ruru</div> -->
		<div class="news-content">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolo

		</div>
	</div>

	<div class="news-item">
		<img src="images/cech.jpg">
		<p>Rак всегда невероятная победа</p>
		<!-- <div class="preview">ruru</div> -->
		<div class="news-content">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolo

		</div>
	</div>
</div>
<%-include('footer')%>
</body>
</html>