<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="owlcarousel/dist/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="owlcarousel/dist/assets/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<title>Архив новостей</title>
</head>
<meta charset="utf-8">
<body>
	<header>
		<div class="img"><a href="arsenal.html"><img src="images/q.PNG"></a>Футбольный клуб FC Arsenal</div>
			<div class="container">
				<a href="news.html" class="logo">Новости</a>
				<a href="comond.html" class="logo">Команда</a>
				<a href="history.html" class="logo">История</a>
				<a href="table.html" class="logo">Турнирная таблица</a>
				<a href="calendar.html" class="logo">Календар</a>
				<a href="" class="language1">Руский</a>
				<a href="" class="language2">English</a>
			</div>
	</header>
<div class="new-informacion">
	<div class="news-item">
		<img src="images/e.jpg">
		<p>Rак всегда невероятная победа</p>
		<!-- <div class="preview">ruru</div> -->
		<div class="news-content">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolo

		</div>
	</div>

	<div class="news-item">
		<img src="images/cech.jpg">
		<p>Rак всегда невероятная победа</p>
		<!-- <div class="preview">ruru</div> -->
		<div class="news-content">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolo

		</div>
	</div>
</div>

	<footer>
		<div class="sponsors">
			<div class="sponsor1">
			</div> 
			<div class="sponsor2">
			</div> 
			<div class="sponsor3">
			</div> 
		</div>
		<div class="copyright-text">
			<p>© Футбольный клуб «Арсенал» , 1998–2018. Все права защищены.</p>
		</div>
		
	</footer>
		
	
<script src="script/jquery.min.js"></script>
<script src="owlcarousel/dist/owl.carousel.min.js"></script>
<script src="script/main.js"></script>

		

</body>
</html>